In [1]:
import pandas as pd

# Load the dataset
df = pd.read_csv('wppool_growth_data_sample_20k.csv')
df.head()

,user_id,install_date,last_active_date,subscription_type,country,total_sessions,page_views,download_clicks,activation_status,days_active,pro_upgrade_date,plan_type,monthly_revenue,churned
0,1,6/29/2023,7/12/2023,Free,UK,3,15,1,1,13,NaN,NaN,0,1
1,2,4/10/2023,7/25/2023,Free,India,133,665,0,1,106,NaN,NaN,0,0
2,3,10/25/2023,12/7/2023,Free,USA,53,106,0,1,43,NaN,NaN,0,0
3,4,8/26/2023,11/9/2023,Pro,Canada,242,242,0,1,75,11/9/2023,Basic,49,0
4,5,5/14/2023,11/22/2023,Free,UK,12,48,0,1,192,NaN,NaN,0,0

In [2]:
# Step 1: Average number of sessions for Free vs. Pro users
avg_sessions_by_subscription = df.groupby('subscription_type')['total_sessions'].mean()
print("Average number of sessions for Free vs. Pro users:")
print(avg_sessions_by_subscription)

Average number of sessions for Free vs. Pro users:
subscription_type
Free     76.081210
Pro     154.677836
Name: total_sessions, dtype: float64

In [3]:
# Step 2: Top 5 most active users based on total sessions
top_active_users = df.nlargest(5, 'total_sessions')[['user_id', 'total_sessions', 'subscription_type']]
print("\nTop 5 most active users based on total sessions:")
print(top_active_users)

Top 5 most active users based on total sessions:
      user_id  total_sessions subscription_type
188       189             300               Pro
821       822             300               Pro
1571     1572             300               Pro
2456     2457             300               Pro
3348     3349             300               Pro

In [4]:
# Step 3: Top 5 countries with the highest engagement
# Engagement is measured by the sum of total_sessions per country
top_countries_by_engagement = df.groupby('country')['total_sessions'].sum().nlargest(5)
print("\nTop 5 countries with the highest engagement:")
print(top_countries_by_engagement)

Top 5 countries with the highest engagement:
country
India      272202
Germany    266319
Canada     264217
USA        261635
France     259495
Name: total_sessions, dtype: int64